/*Variablen*/
:root {
  --bg:  #212428;
  --bg-accent: #2b2f33;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 2px solid #2b2f33;
  --border-radius: 8px;
  --speed: 500ms; 
}
/*Sidebar*/
.sidebar{
  height: 100%; 
  width: 10%; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: var(--bg-accent);
  overflow-x: hidden; 
  padding-top: 20px;
  border-right: var(--border);
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}
.sidebar h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 26px;
  color: white;
  display: block;
}

/*Wrapper*/
.wrapper{
  margin: auto;
  width: 75%;
}


/*App Header*/
.appheader{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: var(--border);
}
.appheader h1{
  text-align: center;
  color: white;
}
/*Boxen*/
.box {
  width: 30%;
  background:var(--bg-accent);
  float: left;
  margin: 20px;
  border-radius: 10px;
}
.box h3 {
  color: white;
  font-size: 24px;
  text-align: left;
  padding-left: 15%;
}
.left-80 {
  width: 60%;
  float: left;
}
.rigth-20 {
  width: 15%;
  float: right;
  padding-top: 8%;
}
.icon-button svg{
  fill: white;
  width: 25px;
}


/*ColorPicker*/
.IroSlider {
  margin: auto;
}
.IroWheel {
  margin: auto;
}
.IroColorPicker {
  padding-bottom: 30px;
}